
/* @font-face {
    font-family: myFont;
    src: url('../../icomoon/fonts/icomoon.ttf'),
    url('../../icomoon/fonts/icomoon.eot');
}
.myfa {
    display: inline-block;
    font: normal normal normal 14px/1 myFont;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-apper-brands:before {
    content: "\e900";
  } */

a{
    border-bottom: none;
}

#header h2 {
    font-size: 2.35em;
    font-weight: 500;
    letter-spacing: -0.035em;
    line-height: 1em;
    display: inline-block;

    padding: 0.4em;
    margin: 0;
}
    /* border:1px solid white; */
    /* border-radius: 30%; */

#header nav li.resume{
    -moz-animation-delay: 2.25s;
	-webkit-animation-delay: 2.25s;
	-ms-animation-delay: 2.25s;
    animation-delay: 2.25s;
    width: auto;
}

#header nav a.resume{
    /* border: 1px solid #fff;
    border-radius: 1em; */
		color: inherit;
		outline: 0;
        text-decoration: none;
        /* transform: scale(1.5, 1.5);  */
        /* -moz-transition: border-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out; */
}

#header nav a.resume:before {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px solid #fff;
    /* border-radius: 1em; */
    display: block;
    font-size: 1.75em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em; 
}

#header nav a.resume:hover {
    font-size: 1.1em;
}

    #header nav a.resume:hover:before {
        background-color: rgba(255, 255, 255, 0.175);
        color: #fff;
    }

#header nav a.resume:active {
    font-size: 0.95em;
    background: none;
}

    #header nav a.resume:active:before {
        background-color: rgba(255, 255, 255, 0.35);
        color: #fff;
    }

#header nav a.resume span {
    display: none;
}

#main .avatar {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
}

    #main .avatar img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        box-shadow: 0 0 0 0.2em #ffffff;
        width: 13em;
    }

    #bg {
		/* -moz-animation: bg 60s linear infinite;
		-webkit-animation: bg 60s linear infinite;
		-ms-animation: bg 60s linear infinite;
		animation: bg 60s linear infinite; */
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	/* Set your background with this */

		/* background: #348cb2 url("images/bg.jpg") bottom left;
		background-repeat: repeat-x;
		height: 100%;
		left: 0;
		opacity: 1;
		position: fixed;
		top: 0; */

		/* background: url("images/blue-tech-circuit-board.png") bottom left; */
        
        background: none;

		/* background-image: url("images/wheat.png");
        background-repeat: repeat;
        background-size: 300px 300px; */

        /* background-image: url("images/bg-dima.jpg"); */

		/* background-color: rgb(34, 9, 9); */
		
		height: 100%;
		left: 0;
		opacity: 1;
		position: fixed;
		top: 0;
    }
    
    #overlay{
        background-image: none;
    }

    body{
        height: 100%;
        background-color: #ffffff;
        
		background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("images/Black-Pattern-Background.jpg");
		background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("images/Black-Pattern-Background.jpg");
		background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("images/Black-Pattern-Background.jpg");
        background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(117, 77, 69, 0.5) 5%, rgba(49, 77, 80, 0.35)), url("images/Black-Pattern-Background.jpg");
		background-repeat: repeat,			no-repeat,			no-repeat;
		background-size: 100px 100px, cover,				cover;
		background-position: top left,		center center,		bottom center;
        background-attachment: fixed,			fixed,				fixed;
        
        /* background-image: url("images/Black-Pattern-Background.jpg");
        background-repeat: repeat;
        background-size: cover;
		background-position: bottom center;
        background-attachment: fixed; */
    }

    /* #footer {
		-moz-align-self: -moz-flex-end;
		-webkit-align-self: -webkit-flex-end;
		-ms-align-self: -ms-flex-end;
		align-self: flex-end;
		width: 100%;
		padding: 1.5em 0 0 0;
		color: rgba(255, 255, 255, 0.75);
		cursor: default;
		text-align: center;
	}

		#footer .copyright {
			margin: 0;
			padding: 0;
			font-size: 0.9em;
			list-style: none;
		}

			#footer .copyright li {
				display: inline-block;
				margin: 0 0 0 0.45em;
				padding: 0 0 0 0.85em;
				border-left: solid 1px rgba(255, 255, 255, 0.5);
				line-height: 1;
			}

				#footer .copyright li:first-child {
					border-left: 0;
				} */
    
    /* body:after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        opacity: 0;
        z-index: 1;
        background-color: #ffffff;
        background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
        background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
        background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
        background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
        background-repeat: repeat,			no-repeat;
        background-size: 100px 100px, cover;
        background-position: top left,		center center;
        -moz-transition: opacity 1.75s ease-out;
        -webkit-transition: opacity 1.75s ease-out;
        -ms-transition: opacity 1.75s ease-out;
        transition: opacity 1.75s ease-out;
    }

    body.is-preload:after {
        opacity: 1;
    } */

    /* .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      } */

    /* #main .avatar:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -3em;
        width: calc(100% + 6em);
        height: 1px;
        z-index: -1;
        background: #c8cccf;
    } */

/* @media screen and (max-width: 480px) {

    #main {
        padding: 4em 2em 2.5em 2em ;
        width: 100%;
    }

        #main .avatar:before {
            left: -2em;
            width: calc(100% + 4em);
        }

} */

/* #header nav a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    border: 0;
    display: inline-block;
} */

    /* #header nav a.resume:before {
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border-radius: 100%;
        border: solid 1px #fff;
        display: block;
        font-size: 1.75em;
        height: 2.5em;
        line-height: 2.5em;
        position: relative;
        text-align: center;
        top: 0;
        width: 2.5em;
    } */
/* 
    #header nav li.resume a:hover {
        font-size: 1.1em;
    }

        #header nav li.resume a:hover:before {
            background-color: rgba(255, 255, 255, 0.175);
            color: #fff;
        }

    #header nav li.resume a:active {
        font-size: 0.95em;
        background: none;
    }

        #header nav li.resume a:active:before {
            background-color: rgba(255, 255, 255, 0.35);
            color: #fff;
        } */